.page-header{
    background-color: whitesmoke;
}
.row{
    height: 50%;
}

.col-md-2{
    background-color: whitesmoke;
}

.col-md-4{
    background-color: whitesmoke;
}
.col-md-8{
    background-color: whitesmoke;
}
.col-md-10{
    background-color: whitesmoke;
}
  
